html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#00003d,#00276c, #014ba0 );
}

h2 {
    margin-top: -11%;
    margin-bottom: 44px;
    color: #f7f0f5;
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}


.Contenedor {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 50px;
    background:#00003d;
    border-radius: 20px;

}

.Contenedor .elemento label {
    color: #ffff;
    font-size: 20px;
    margin: 10px;
    padding-top: 15px;
}

.Contenedor .elemento input {
    padding: 5px;
    color: white;
    margin: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px #e4e6c9 solid;
    width: 250px;
}

.Contenedor .elemento [type="submit"] {
    background-color: #014ba0;
    color: #ffff;
    padding: 15px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    border-radius: 15px;
}

.Contenedor .elemento [type="submit"]:hover {
    background-color:#96b3ff;
    color: white;
 
}

#reg:hover{
    text-decoration: none;
  
    color: #96b3ff;
    
}
/* .register{
    text-decoration: none;
    color: white;
    background-color: white;
} */

#reg{
    margin-top: 10px;
    text-decoration: underline;
    background-color:#00003d ;
    color: white;
   
    padding: 0px;
    
} 