<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/StyleForms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Gestor de tareas</title>
</head>

<body>

    <h1 style="margin-top: 2%;">Gestor de tareas</h1>

    <div class="head">

        <div class="cajita">
            <h3>New task</h3>

            <div id="nameinp" class="cajasinput">
                <h5>Name Task:</h5>
                <input type="text" name="document" id="document">
            </div>
            <div id="descinp" class="cajasinput">
                <br>
                <h5>Description:</h5>
                <textarea class="form-control" id="description"></textarea>
            </div>
            <br>
            <div id="cateinp" class="cajasinput">
                <select class="form-select" id="category" aria-label="Default select example">
                    <option selected>Select...</option>
                    <option value="1">Personal</option>
                    <option value="2">Trabajo</option>
                </select>
            </div>
            <br>

            <input type="submit" value="Send" id="createTask">
        </div>

        <div id="container" class="elemento">
            <div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

        </div>

        <div id="modalcont"></div>
        <script src="../View/js/task.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>