<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/StyleForms.css">

    <!-- Última versión de Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Gestor de tareas</title>
</head>

<body>
    <h1>Gestor de tareas</h1>
   
    <div class="head">

        <div class="cajita">

<div id="nameinp" class="cajasinput">
    <label for="document">Name task: </label>
    <input type="text" name="document" id="document">
    </div>
    <div id="descinp" class="cajasinput">
        <label for="description">Description: </label>
        <input type="text" name="description" id="description">
        </div>

        <div id="cateinp" class="cajasinput">
            <label for="category">Category: </label>
            <input type="text" name="category" id="category">
            </div>

            <input type="submit" value="Send">


        </div>
 
        <div id="container" class="elemento">
            
            
<!-- 
            <div class="tarjet" data-bs-toggle="modal" data-bs-target="#miModal">
                <h2>Hola</h2>
                <p>categoria: </p>
                <p>Fecha de creacion</p>
                <p>Estado:</p>
            </div>

            <div id="tarjet" class="tarjet" data-bs-toggle="modal" data-bs-target="#miModal">
                <h2>Hola</h2>
                <p>categoria: este presiona</p>
                <p>Fecha de creacion</p>
                <p>Estado:</p>
            </div> -->




            <div class="modal" id="miModal"> 
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Este es el titulo de mi modal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Contenido de mi modal</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            
        <script src="../View/js/modal.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>