<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing-in</title>
    <link rel="stylesheet" href="./Css/Styles.css">
</head>
<body>
    
    <div class="Contenedor">
        <h2>Sing In</h2>
<div class="elemento">
<label for="documento">Documento:</label>
<input type="text" name="documento" id="docu">
<label for="nombre">Nombre:</label>
<input type="text" name="nombre" id="nombre">
<label for="pass">Password:</label>
<input type="password" name="pass" id="pass">

<input type="submit" id="btnReg">
</div>
    </div>
</body>
<script src="./js/register.js"></script>
</html>